body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.box {
    list-style-type: none;
    text-align: center;
}

.box li {
    display: inline;
    margin-right: 20px;
}

.box li:last-child {
    margin-right: 0;
}

.box a {
    color: white;
    text-decoration: none;
}
.box a:hover{
    color: green;
}

main {
    margin-top: 20px;
    padding: 20px;
}

.temple-list {
    list-style-type: none;
}
/* Styling for temple list items */

.temple-list li {
    margin-bottom: 10px;
}

.temple-list a {
    text-decoration: none;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}
.temple-list a:hover{
    color: green;
} 
/* Styling for student image */
.main-img{
    width: 400px;
    height: 450px;
    float: right;
    margin-left: 20px;
}
p{
    font-size: 26px;
}
.aside {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

/* Styling for aside image */
.aside-image {
    width: 500px;
    height: auto;
}

/* Styling for aside content */
.aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.temple1{
    text-align: center;
    margin: 20px;
}
.temple1 h1{
    font-size: 40px;
    color: #333;
}
.temple1 img{
    width: 900px;

}
footer {
    margin-top: 20px;

    text-align: center;
}