body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none;
    text-align: center;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links a:hover{
    color: green;
}

main {
    margin-top: 20px;
    padding: 20px;
}

.temple-list {
    list-style-type: none;
}

.temple-list li {
    margin-bottom: 10px;
}

.temple-list a {
    text-decoration: none;
    color: purple;
    font-size: 20px;
    font-weight: bold;
}
.temple-list a:hover{
    color: green;
} 

.student-image {
    float: right;
    margin-left: 20px;
}
p{
    font-size: 26px;
}
aside {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}


.aside-image {
    width: 500px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}
.student-image{
    width: 400px;
    height: 450px;
}
.temple1{
    text-align: center;
    margin: 20px;
}
.temple1 h1{
    font-size: 40px;
    color: #333;
}
.temple1 img{
    width: 900px;

}